.bookshelf {
    h1 {
        color: $tip-color;
        font-weight: normal;
        margin: 1em 0;
    }

    li {
        padding: 1em 0;
        border-top: .5px solid $border-color;
    }

    h2 {
        font-size: 1.25em;
        font-weight: normal;
        margin-bottom: .4em;
    }

    address {
        display: inline;
        font-style: normal;
        color: $info-color;
    }

    dt, .none {
        display: none;
    }

    dl {
        display: inline;
    }

    .unread {
        display: inline;
        color: $info-color;

        &::before {
            content: '・';
        }

        &::after {
            content: '章待读';
            margin-left: .125em;
        }
    }

    dd:last-child {
        color: $info-color;
        font-size: .8em;
        margin-top: .625em;

        &::before {
            content: '更新至';
            margin-right: .125em;
        }
    }
}
