.page-chapter {
    .mobile {
        position: relative;
        width: 100%;
        height: 100%;
        font-family: serif;
        line-height: 1.55;

        .trie {
            position: absolute;
            top: 0;
            width: 100%;
            left: -200%;
            padding: 1.4em 0;
        }

        .page {
            padding: 1.4em 1em;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        h2 {
            font-size: 1.75em;
            margin: .8em 0 1em 0;
        }

        p {
            font-size: 1.25em;
            text-indent: 2em;

            &.cont {
                text-indent: 0;
            }
        }
    }

    .loading, .pad {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        0% { -moz-transform: rotate(0deg); }
        100% { -moz-transform: rotate(360deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loading {
        z-index: 888;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAGFBMVEVHcEwAAAAAAAAAAAAAAAAAAAAAAAAAAABoAtTLAAAACHRSTlMANRyzj2/RUGs256oAAAD6SURBVHgBzc89b+pAEEbh472ytjXcyLRGhK35poUIUUMwruOFOO0aFPj7kVgJ22gaOp72SKN5eXmtBFFvPEK0YofIYhBNOUNYDKkJCwfxKodd+xJRibs5qH2CsugBlZQ5N8EA9UUl7lh8GBHUgz44vGnS2yCvPCLrJDxLz5aIsjJzeKqkoiyBxTOziDu9gCHe/3DBXVgLZu3kU2pLTXa6bJDfnfOUboLovThECNQk6VtqWnh6ACkVXUTwViz558A0gkN/tzL3GNiDaW+3ebiAM02rCFL1Q5DTNNxATDyZOZrmt8DviQfpFVIE5voZ5Aj0sVw7JP3xB6/uD4/6J65tW4TRAAAAAElFTkSuQmCC');
            background-repeat: no-repeat;
            background-position: center;
            -webkit-animation: spin 2s infinite linear;
            -moz-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }
    }

    .pad {
        z-index: 999;
        cursor: default;

        > div {
            position: relative;
            width: 100%;
            height: 100%;

            > div {
                width: 33.33%;
                height: 100%;
                position: absolute;
                cursor: grab;

                &:last-of-type {
                    right: 0;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) and (orientation: portrait) {
        label {
            position: absolute;
            font: .7em monospace;
            color: #999;
            bottom: .7em;

            &:first-of-type {
                top: 1em;
                left: 1em;
                bottom: auto;
                font: .6em sans-serif;
            }

            &:nth-of-type(2) {
                left: 0;
                right: 0;
                text-align: center;
            }

            &:nth-of-type(3) {
                left: 1em;
            }

            &:last-of-type {
                right: 1em;
                text-align: right;
            }
        }
    }
}
