.chapter {
    line-height: 1.75;

    h3 {
        font-size: 2em;
        margin: .75em 0;
        font-weight: normal;
    }

    p {
        font-size: 1.25em;
        text-indent: 2em;
        text-align: justify;

        &.tail {
            text-indent: 0;
        }
    }
}
