.toc {
    h2 {
        font-size: 2em;
        margin-top: 1em;
        font-weight: normal;
        color: $info-color;
    }

    address {
        font-style: normal;
        font-size: .75em;
        color: $info-color;
        margin: .83em 0;

        &::after {
            content: '著';
            margin-left: .125em;
        }
    }

    li {
        border-top: .5px solid $border-color;
    }

    a {
        padding: 1em 0;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
